<div data-ng-init="showGraph()">
    Interval in Ms<input type="text" ng-model="interval" />
    <table class="table table-striped">
        <tr>
            <th>Graph it</th>
            <th style="width:100px;">Company</th>
            <th style="width:100px;">Symbol</th>
            <th style="width:100px;">Buying Price</th>
            <th style="width:100px;">Current Price</th>
            <th style="width:100px;">Units Bought</th>
            <th style="width:100px;">Last Change</th>
            <th style="width:100px;">Change Since buy</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="text" id="company" data-ng-model="newCompany" /></td>
            <td><input type="text" id="symbol" data-ng-model="newSymbol" /></td>
            <td><input type="text" id="origPrice" data-ng-model="newPrice" /></td>
            <td>&nbsp;</td>
            <td><input type="text" id="unitsBought" data-ng-model="newUnits" /></td>
            <td><button type="button" data-ng-click="addStock()"> Add </button></td>
        </tr>
        <tr data-ng-repeat="stockItem in stockList">
            <td><input type="checkbox" data-ng-model="stockItem.graphIt"/></td>
            <td>{{stockItem.companyName}}</td>
            <td>{{stockItem.stockSymbol}}</td>
            <td>{{stockItem.originalStockPrice|number:2}}</td>
            <td>{{stockItem.stockPrice|number:2}}</td>
            <td>{{stockItem.sharesBought|number:2}}</td>
            <td>{{stockItem.stockDelta|number:2}}</td>
            <td>{{stockItem.changeSinceBuy|number:2}}</td>
        </tr>
    </table>

    <button type="button" data-ng-click="readStock()"> read</button>
    <button type="button" data-ng-click="stopRead()"> stop</button>
    <button type="button" data-ng-click="stopServer()"> stop Server</button>
    <button type="button" data-ng-click="startServer()"> start Server</button>
<button type="button" data-ng-click="flush()"> flush</button>
 
    Currency: <select data-ng-model="selectedOption"
            data-ng-options="currency.Name + ' (' + currency.value +')' for currency in  currencyList"></select>
    Graph Plot values: 
    <input type="text" ng-model="maxValues" />
    <div id="chart" style="float:left;width:50%;"></div>
    <div id="chart2" style="float:right;width:50%;"></div>
    <table>
        <tr></tr>
    </table>
</div>

